@CHARSET "UTF-8";

.search-form {
	width: 200px;
	margin-top: 10px;
}

.search-username {
	width: 130px;
	height: 31px;
	float: left;
}

.search-btn {
	margin-left: 10px;
}

.chat-dialog {
	position: fixed;
	width: 400px;
	bottom: 1px;
	right: 1px;
	
}

.float-to-left {
	float: left;
}
.float-to-right {
	float: right;
}

.chat .chat-friend-list {
	float: left;
}

.code-editor {
	height: 559px;
}

.margin-top-20 {
	margin-top: 20px;
}

.profile-header {
	font-size: 36px;
}

.profile-list li {
	height: 42px;
}