/* stlyes for message board */

.msg-board {
	margin-top: 20px;
}


.msg-board-main {
	margin-top: 10px;
}

.msg-board-content {
}

.msg-form {
	margin-top: 20px;
}

.msg-reply {
	margin-left: 50px;
}
.msg-reply .msg-board-left-main img {
	height: 45px;
	width: 45px;
}
.msg-reply .msg-board-text {
	height: inherit;
}

.msg-board-left-main img {
	display: block;
	width: 90px;
	height: 90px;
}
.msg-board-left-main div {
	text-align: center;
}

.msg-board-right-main {
	margin-left: 30px;
}

.msg-board-text {
	height: 70px;
}

.msg-board-action span {
	margin-right: 20px;
}